<nav>
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">叒木工作室</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">官网首页</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="example_dropdown_pc">客户案例</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">官网首页</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="example_dropdown_mobile">客户案例</a></li>
            <li><a href="/aboutus">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="example_dropdown_mobile" class="dropdown-content">
    <li><a href="#!">生活家居</a></li>
    <li><a href="#!">建筑装饰</a></li>
    <li><a href="#!">商务企业</a></li>
    <li><a href="#!">餐饮美食</a></li>
</ul>

<ul id="example_dropdown_pc" class="dropdown-content">
    <li><a href="#!">生活家居</a></li>
    <li><a href="#!">建筑装饰</a></li>
    <li><a href="#!">商务企业</a></li>
    <li><a href="#!">餐饮美食</a></li>
</ul>