<%- include("./inc/header.ejs") %>
<%- include("./inc/nav.ejs") %>

<div id="index-banner" class="parallax-container valign-wrapper center-align small-container">
    <div style="display:inline-block;width:100%;">
        <div class="container">
            <br><br>
            <h4 class="header center">About Us</h4>
            <div class="row center">
                <h5 class="header col s12 light">关于我们</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/background5-s.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="aboutus_content">
    <div class="container center-align" style="padding:25px;">
        <div class="row">
            <div class="col s12 m5">
                <img style="width:95%;" src="/images/aboutus_img_1.png" alt="">
            </div>
            <div class="col s12 m6" style="padding:15px 55px;">
                <h5 class="left-align">公司简介</h5>

                <p class="left-align">人类长期只有口语传递信息，用文字记事传递信息形成的书面语历史较短。系统的语言成为人和禽兽分离的重要工具，文字使人类能进入有历史记录的文明社会。把时空的影像变化转码成视觉可见的符号系统，使后人能通过间接的文字想象出画面文字突破口语受到时间和空间的限制，是人类可以在书面语的基础上完整地传承人类的</p>
                <a href="/contact" class="btn">立即合作</a>
            </div>
        </div>
    </div>

    <div class="center-align" style="padding:25px;background-color:#f4f4f4;">
        <div class="row container">
            <div class="item col s12 m4 l4 row">
                <div class="col s2 m6 l6" style="margin-top: 25px;">
                    <i class="material-icons">ac_unit</i>
                </div>
                <div class="right col s10 m6 l6">
                    <h5>优势名称一</h5>
                    <p>有人把文字分成线性文字和非线性文字。这样不科学，因为无论是普通文字还是代码文字都有线条</p>
                </div>
            </div>
            <div class="item col s12 m4 l4 row">
                <div class="col s2 m6 l6" style="margin-top: 25px;">
                    <i class="material-icons">ac_unit</i>
                </div>
                <div class="right col s10 m6 l6">
                    <h5>优势名称一</h5>
                    <p>有人把文字分成线性文字和非线性文字。这样不科学，因为无论是普通文字还是代码文字都有线条</p>
                </div>
            </div>
            <div class="item col s12 m4 l4 row">
                <div class="col s2 m6 l6" style="margin-top: 25px;">
                    <i class="material-icons">ac_unit</i>
                </div>
                <div class="right col s10 m6 l6">
                    <h5>优势名称一</h5>
                    <p>有人把文字分成线性文字和非线性文字。这样不科学，因为无论是普通文字还是代码文字都有线条</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container center-align" style="padding:25px;">
        <h4>响应式云建站</h4>
        <p>这是我们独一无二的优势请关注我们</p>
        <img style="width:90%;" src="/images/aboutus_img_2.jpg" alt="">
    </div>

    <div class="center-align" style="padding:25px;background-color:#f4f4f4;">
        <div class="row container">
            <div class="col s12 m5">
                <img style="width:95%;" src="/images/aboutus_img_3.png" alt="">
            </div>
            <div class="col s12 m6" style="padding:15px 55px;">
                <h5 class="left-align">我们的理念</h5>

                <p class="left-align">文字突破口语受到时间和空间的限制，是人类可以在书面语的基础上完整地传承人类的智慧和精神财富，使人类能够完善教育体系，提高自己的智慧，发展科学技术</p>
                <ul>
                    <li>文字变化的机理和拼音文字遍天下的机理在哪里</li>
                    <li>很重要的一点是文字还没发生和成熟之前，言语已经高度</li>
                    <li>成熟了即使是没有文字的民族它们的口语也能涵盖</li>
                    <li>日常生产生活的诸多内容。如此，让文字对应语音这</li>
                    <li>非常经济，而且在人类抽象思维没有蓬勃发展起来之时</li>
                    <li>这也几乎是唯一可行的。即便在汉字这样的意音系统里</li>
                </ul>
                <a href="/contact" class="btn">与我们合作</a>
            </div>
        </div>
    </div>
</div>

<%- include("./inc/bottom.ejs") %>