<%- include("./inc/header.ejs") %>
<%- include("./inc/nav.ejs") %>

<div id="index-banner" class="parallax-container valign-wrapper center-align small-container">
    <div style="display:inline-block;width:100%;">
        <div class="container">
            <br><br>
            <h4 class="header center">About Us</h4>
            <div class="row center">
                <h5 class="header col s12 light">关于我们</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/background5-s.jpg" alt="Unsplashed background img 1"></div>
</div>


<%- include("./inc/bottom.ejs") %>