<%- include("./inc/header.ejs") %>
<%- include("./inc/nav.ejs") %>


<div id="index-banner" class="parallax-container valign-wrapper center-align small-container">
	<div style="display:inline-block;width:100%;">
		<div class="container">
			<br><br>
			<h4 class="header center">Contact Us</h4>
			<div class="row center">
				<h5 class="header col s12 light">联系我们</h5>
			</div>

		</div>
	</div>
	<div class="parallax"><img src="/images/background5-s.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="row">
	<div class="col s12 m4 l4 contact_content" style="padding:25px 50px;">
		<h5>如何找到我们</h5>
		<p>如果您有任何问题，只需填写联系方式，我们会很快回答您。如果你住在附近，欢迎来到我们舒适的办公室。</p>
	
		<div class="company_contact">
			<h6>公司联系方式</h6>
			<p>地址:广东省中山市东区啦啦啦啦啦啦啦</p>
			<p>联系电话:0760-88888888</p>
			<p>邮箱:294333575@qq.com</p>
			<p>邮政编码:528400</p>
		</div>
	</div>
	
	<div class="col s12 m8 l8 contact-form" style="padding:25px;">
		<div class="box-content">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field offset-m2 col s12 m8">
							<i class="material-icons prefix">account_circle</i>
							<input id="client_name" type="text" class="validate">
							<label for="client_name">怎么称呼您？</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field offset-m2 col s12 m8">
								<i class="material-icons prefix">phone</i>
							<input id="phone_num" type="tel" class="validate">
							<label for="phone_num">联系电话</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field offset-m2 col s12 m8">
								<i class="material-icons prefix">email</i>
							<input id="email" type="email" class="validate">
							<label for="email">您的邮箱</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer center-align">
			<a href="#!" class="modal-action modal-close waves-effect waves-light btn">提交</a>
		</div>
	</div>
</div>


<%- include("./inc/bottom.ejs") %>