<%- include("./inc/header.ejs") %>
<%- include("./inc/nav.ejs") %>

  <div id="index-banner" class="parallax-container valign-wrapper center-align index-parallax-container-first">
    <div style="display:inline-block;width:100%;">
      <div class="container">
        <br><br>
        <h4 class="header center">PROFESSIONAL - WEBSITE - CONTENT - APP CREATION</h4>
        <div class="row center">
          <h5 class="header col s12 light">WE CREATE AWESOME STUFF</h5>
        </div>
        <div class="row center">
          <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">联系我们</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/background5.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container" >
    <div class="section">

      <!--   Icon Section   -->
      <ul class="row" id="staggered_first">
        <li class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </li>

        <li class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </li>

        <li class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </li>
      </ul>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background6.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container"  id="">
    <div class="section">

      <div class="row">
        <div class="col s12 m8 l8 left">
          <h4>我们的优势</h4>
          <blockquote>
            我们的建站编辑器让您：不懂设计、不懂编程也能快速做出真正的响应式网站
            动动鼠标、想改就改、自由拖拽、自由添加、支持深度个性化定制，颠覆传统模板自助建站
          </blockquote>
          <ul class="item_list row" id="staggered-second">
            <li class="col s12 m6 row">
              <i class="col s2 material-icons">camera</i>
              <div class="text col s10">
                <h4>自由编辑</h4>
                <p>支持深度个性化定制，颠覆传统模板自助建站，真正的响应式网站</p>
              </div>
            </li>
            <li class="col s12 m6 row">
              <i class="col s2 material-icons">camera</i>
              <div class="text col s10">
                <h4>自由编辑</h4>
                <p>支持深度个性化定制，颠覆传统模板自助建站，真正的响应式网站</p>
              </div>
            </li>
            <li class="col s12 m6 row">
              <i class="col s2 material-icons">camera</i>
              <div class="text col s10">
                <h4>自由编辑</h4>
                <p>支持深度个性化定制，颠覆传统模板自助建站，真正的响应式网站</p>
              </div>
            </li>
            <li class="col s12 m6 row">
              <i class="col s2 material-icons">camera</i>
              <div class="text col s10">
                <h4>自由编辑</h4>
                <p>支持深度个性化定制，颠覆传统模板自助建站，真正的响应式网站</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col s12 m4 l4 right_img">
          <img src="/images/background8.jpg" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="grey lighten-4"  id="">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>经典案例</h3>
          <p>支持深度个性化定制，颠覆传统模板自助建站，真正的响应式网站</p>

          <ul class="row sample_list" id="staggered-third">
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_1.png" alt="" class="">
              <p>大本设计公司</p>
            </li>
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_2.png" alt="" class="">
              <p>一美建筑公司</p>
            </li>
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_3.png" alt="" class="">
              <p>法鲨商务咨询公司</p>
            </li>
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_4.png" alt="" class="">
              <p>漠小白保险公司</p>
            </li>
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_5.png" alt="" class="">
              <p>品牌形象策划公司</p>
            </li>
            <li class="sample_item col s12 m4 l4">
              <img src="/images/sample_img/sample_6.png" alt="" class="">
              <p>花嫁园林花卉公司</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div> 

  <!-- <div class="container"  id="">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div> -->

  <div class="product_box">
    <div class="section no-pad-bot">
      <div class="container">
        <h4>我们的产品套餐</h4>
        <p>我们为不同的你提供了不一样的产品套餐</p>

        <div class="product_list row">
          <div class="item col s12 m4 l4">
            <div class="content">
              <h5>经济套餐</h5>
              <div class="divide"></div>
              <p>自定义顶级域名</p>
              <p>在线客服</p>
              <p>每月8000次访问流量</p>
              <p>站点转移功能</p>
              <p>去全站广告</p>
              <p>新闻模块</p>
              <p>自定义HTML代码</p>

              <div class="divide"></div>
              <a href="#!" class="btn waves-effect waves-light lighten-1 white black-text">了解更多</a>
            </div>
          </div>
          <div class="item col s12 m4 l4">
            <div class="content">
              <h5>经济套餐</h5>
              <div class="divide"></div>
              <p>自定义顶级域名</p>
              <p>在线客服</p>
              <p>每月8000次访问流量</p>
              <p>站点转移功能</p>
              <p>去全站广告</p>
              <p>新闻模块</p>
              <p>自定义HTML代码</p>

              <div class="divide"></div>
              <a href="#!" class="btn waves-effect waves-light lighten-1 white black-text">了解更多</a>
            </div>
          </div>
          <div class="item col s12 m4 l4">
            <div class="content">
              <h5>经济套餐</h5>
              <div class="divide"></div>
              <p>自定义顶级域名</p>
              <p>在线客服</p>
              <p>每月8000次访问流量</p>
              <p>站点转移功能</p>
              <p>去全站广告</p>
              <p>新闻模块</p>
              <p>自定义HTML代码</p>

              <div class="divide"></div>
              <a href="#!" class="btn waves-effect waves-light lighten-1 white black-text">了解更多</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="parallax"><img src="/images/background7.jpg" alt="Unsplashed background img 3"></div> -->
  </div>



  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="client_name" type="text" class="validate">
              <label for="client_name">怎么称呼您？</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
              <input id="phone_num" type="tel" class="validate">
              <label for="phone_num">联系电话</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label for="email">您的邮箱</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">提交</a>
    </div>
  </div>

<%- include("./inc/bottom.ejs") %>