<%- include("./inc/header.ejs") %>
<%- include("./inc/nav.ejs") %>

<div class="row container">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3">
                <a href="#test1" class="<%if(type=="1"){%> active <%}%>">生活家居</a>
            </li>
            <li class="tab col s3">
                <a href="#test2" class="<%if(type=="2"){%> active <%}%>">建筑装饰</a>
            </li>
            <li class="tab col s3">
                <a href="#test3" class="<%if(type=="3"){%> active <%}%>">商务企业</a>
            </li>
            <li class="tab col s3">
                <a href="#test4" class="<%if(type=="4"){%> active <%}%>">餐饮美食</a>
            </li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_3.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_2.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_3.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_4.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_5.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_6.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="test2" class="col s12">
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_1.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_2.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_3.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_4.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_5.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_6.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="test3" class="col s12">
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_1.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_6.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_3.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_4.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_2.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_6.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="test4" class="col s12">
        <div class="row">
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_1.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_5.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_3.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_4.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_2.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/sample_img/sample_6.png">
                    </div>
                    <div class="card-action">
                        <p>I am a very simple card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function(){
        $('ul.tabs').tabs();

        var type = GetRequest().type -1;
        var tabs_el = $('.tabs li');

        // console.log(tabs_el)

        tabs_el[type].click();
        tabs_el[type].classList.add("active");
    }
</script>

<%- include("./inc/bottom.ejs") %>