@import "./lib.scss";

blockquote{
  border-left-color: #26a69a;
}

.item_list{
  li{
    display: inline-block;
    opacity: 0;
    i{
      margin-top:1.4rem;
    }
    i,.text{
      display: inline-block;
      vertical-align: top;
    }
    .text{
      h4{
        font-size: 1.64rem;
      }
      p{
        color:#9e9e9e;
      }
    }
  }
}

.right_img{
  overflow: hidden!important;
  img{
    height:100%;
    margin:0px auto;
  }
}

.sample_list{
  .sample_item{
    margin-top:0.5rem;
    opacity: 0;
    img{
      width:90%;
      margin:0px auto;
      display: block;
    }
  }
}

.product_box{
  background: url('#{$images_path}/background7.jpg') center center repeat;
  background-size:130% auto;
  color:#fff;
  margin-bottom:-20px;
  padding-bottom:20px;
}

.product_list{
  .item{
    padding:0.3rem;
    &:hover{
      .content{
        background-color:rgba(158,158,158, .3);
        transform: translateY(-0.8rem);
        -webkit-transform: translateY(-0.8rem);
        transition: all .3s;
      }
    }
    .content{
      border:2px solid #fff;
      text-align: center;
      padding-bottom: 1rem;

      .divide{
        width:80%;
        margin:.2rem auto;
        border-top:2px solid #9e9e9e;
      }
      .btn{
        margin-top:.8rem;
      }
    }
  }

}